{% extends "main.html" %} {% load static %} {% block pageBody %}
<div class="container-fluid" ng-controller="promiseDetailsController">
    <div class="col-md-10 col-sm-12 col-md-offset-1">
        <div class="col-md-12 no-padding">
            <h3 class="">Promises</h3>
        </div>
        <div class="col-md-12 no-padding" style="height:200px;">
            <div class="col-md-4 col-sm-8 height-100 flex-container text-center" ng-hide="status">
                <i class="fa fa-2x fa-spinner fa-spin"></i>
                <span class="col-md-12">Loading Status</span>
            </div>
            <div class="col-md-4 col-sm-8 height-100" ng-if="status">
                <span class="progress-bar-text">
                            Not Started ([[status.not_started]] of [[status.total]])
                    </span>
                <div class="progress progress-custom">
                    <div class="progress-bar progress-bar-idle progress-bar-striped" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:[[status.not_started*100/status.total]]%">
                    </div>
                </div>
                <span class="progress-bar-text">
                            Completed ([[status.completed]] of [[status.total]])
                    </span>
                <div class="progress progress-custom">
                    <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:[[status.completed*100/status.total]]%">
                    </div>
                </div>
                <span class="progress-bar-text">
                            In Progress ([[status.in_progress]] of [[status.total]])
                    </span>
                <div class="progress progress-custom">
                    <div class="progress-bar progress-bar-warning progress-bar-striped" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:[[status.in_progress*100/status.total]]%">
                    </div>
                </div>
                <span class="progress-bar-text">
                            Broken ([[status.broken]] of [[status.total]])
                    </span>
                <div class="progress  progress-custom">
                    <div class="progress-bar progress-bar-danger progress-bar-striped" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:[[status.broken*100/status.total]]%">
                    </div>
                </div>
            </div>
            <div class="col-md-8 col-sm-4 height-100 border-thick no-padding">
                <div class="col-md-6 padding-10">
                    <p class="desc-text">
                        The Pinarayi Meter is an independent initiative that tracks his performance with regards to his electoral campaign.
                    </p>
                </div>
                <div class="col-md-6 hidden-sm no-padding">
                    <img src="{% static 'images/pinarayi_profile.jpg' %}" class=" pull-right profile-image">
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-10 col-sm-12 col-md-offset-1" style="margin-top:20px;">
        <h4 class="category-titles" style="height:30px;">
             {{promiseDetails.title}}   
             <span class = "btn btn-sm btn-warning pull-right" ng-click = "openModal()">
                Suggest Edit 
             </span>
        </h4>
        <div class="modal fade" id="editSuccess" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title" id="myModalLabel">Post an update</h4>
                    </div>
                    <div class="modal-body">
                        Thanks, Your response has been recorded. We will review your update and will update it in the page.
                        <div class="form-group" style="text-align: right;">
                            <div type="button" class="btn btn-default" data-dismiss="modal">Okay</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="suggestEdit" tabindex="-1" role="dialog" aria-labelledby="suggestEditModal">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title" id="suggestEditModal">Post an update</h4>
                    </div>
                    <div class="modal-body">
                        <form id="editForm">
                            {% csrf_token %}
                            <div class="form-group col-md-6">
                                <label for="title">
                                    Title
                                </label>
                                <input name="title" id="title" type="text" ng-model="title" class="form-control" required="true">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="type">
                                    Type
                                </label>
                                <select name="type" class="form-control" id="type" ng-model="type">
                                    <option value="Document">
                                        Document
                                    </option>
                                    <option value="Video">
                                        Video
                                    </option>
                                    <option value="Web Page">
                                        Web Link
                                    </option>
                                </select>
                            </div>
                            <div class="form-group col-md-12">
                                <textarea name="description" id="description" class="form-control" ng-model="description" placeholder="Description"></textarea>
                            </div>
                            <div class="form-group col-md-12">
                                <label for="relatedLink">
                                    Related Link
                                </label>
                                <input name="relatedLink" type="text" id="relatedLink" ng-model="relatedLink" class="form-control" required="true">
                            </div>
                            <div class="form-group" style="text-align: right;">
                                <div type="button" class="btn btn-default" data-dismiss="modal">Close</div>
                                <div type="submit" class="btn btn-primary" ng-click="submitEdit()">Submit</div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="promise-description">
            {{promiseDetails.description}}
        </div>
        {% if referenceObjects|length > 0 %}
        <h4 class="category-titles">
                Related Articles
            </h4>
        <div class="related-article-list">
            {% for eachArticle in referenceObjects%}
            <div class="related-article">
                <span class="related-article-heading">
                            {{eachArticle.title}}
                        </span>
                <span class="related-article-desc">
                            {{eachArticle.comments}}
                        </span>
                <span class="related-article-link">
                            <a href="{{eachArticle.referenceLink}}" target = "_">{{eachArticle.referenceLink}}</a>
                        </span>
            </div>
            {% endfor %}
        </div>
        {% endif %}
        <h4 class="category-titles">
             Comments
        </h4>
        <div id="disqus_thread"></div>
        <script>
        var URLArray = window.location.pathname.split('/');
        var uuid = URLArray[URLArray.length - 1];

        var disqus_config = function() {
            this.page.url = "/promise/details/" + uuid;
            this.page.identifier = uuid;
        };

        (function() { // DON'T EDIT BELOW THIS LINE
            var d = document,
                s = d.createElement('script');
            s.src = 'https://pinarayimeter.disqus.com/embed.js';
            s.setAttribute('data-timestamp', +new Date());
            (d.head || d.body).appendChild(s);
        })();
        </script>
        <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    </div>
</div>
{% endblock %}
