body {
  padding-top: 50px;
  background-color: #f0f0f0;
}
.flex-display{
  display: flex;
}

.flex-container{
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

.height-100{
    height:100%;
}
.height-50{
    height:50%;
}
.no-padding{
    padding:0px !important;
}
.padding-20{
    padding: 20px !important;
}
.padding-10{
    padding: 10px !important;
}
.center{
    text-align: center;
}
.profile-image{
    height: auto;
    width: auto;
    
}

.promise-list{
  height: 40px !important;
  margin-bottom: 2px !important;
  border: 3px solid #bbbbbb;
  background-color: #dddddd;
  border-radius: 5px;
  cursor: pointer;
  color: #000;
  text-decoration: none;
}

.promise-list:hover{
  color: #000;
  text-decoration: none; 
}
.promise-title{
  font-size: 18px;
  font-weight: 500;
  height: 100%;
}

.promise-status {
  height: 100%;
  padding-top: 6px;
}

.promise-description{
  font-size: 18px;
  font-weight: 500;
}

.progress-bar-idle{
background-color: #aaa;
}

.progress-bar-text{
  color: #000;
  font-weight: 600 !important;
}

.progress-custom{
  margin-bottom:7px !important;
}
.category-titles{
  font-weight: 600 !important;
  cursor: pointer;
}
.category-link{
  cursor: pointer;
  color: #77a !important;
  font-size: 15px !important;
  text-decoration: none;
}
.category-link:hover{
  text-decoration: none;
}

.category-item{
  padding-left: 10px !important;
  padding-right: 10px !important;
}
.category-item:hover{
  color:#993333;
}
.category-item-selected{
  color: #bb5555;
}

.desc-text{
  line-height: 1.2;
  font-size:16px;
  color: #ccc;
}

.border-thick{
  border: 3px solid #777;
  background-color: #333;
  padding: 10px;
}

.related-article-list{
  padding:0px 10px 0px 10px;
}
.related-article{
  margin-bottom: 10px;
}
.related-article-heading{
  display: block;
  font-weight: 600 !important;
  
}

.related-article-desc{
  display: block;
}
.related-article-link{
  display: block;
  font-weight: 500 !important;
  
}