body {
  padding-top: 50px;
}
.flex-display{
  display: flex;
}

.flex-container{
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

.height-100{
    height:100%;
}
.height-50{
    height:50%;
}
.no-padding{
    padding:0px !important;
}
.padding-20{
    padding: 20px !important;
}
.center{
    text-align: center;
}
.profile-image{
    height: auto;
    width: auto;
}

.promise-list{
  height: 40px !important;
  margin-bottom: 2px !important;
  border: 1px solid #aaaadd;
  background-color: #dddddd;
  border-radius: 5px;
  cursor: pointer;
  color: #000;
  text-decoration: none;
}

.promise-list:hover{
  color: #000;
  text-decoration: none; 
}
.promise-title{
  font-size: 23px;
  font-weight: 500;
  height: 100%;
}

.promise-status {
  height: 100%;
}

.promise-description{
  font-size: 18px;
  font-weight: 500;
}
